// Variables
$text-strong: #000;
$text-weak: #bbb;
$item-bg-color: #fff;

ul.event-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  >li {
    margin: 0.5em 0;

    >a {
      display: block;
      padding: 0.7em;
      font-size: 1.6em;
      text-decoration: none;
      text-transform: uppercase;
      color: $text-strong;
      background-color: $item-bg-color;
      box-shadow: 1px 1px 3px 0px #ddd;

      &:visited {
        //color: $text-weak;
      }
      &:hover {
        color: $text-strong;
        box-shadow: 1px 1px 3px 0px #aaa;
      }

      >.event-list-item-time {
        display: block;
        overflow: hidden;
        float:left;
        margin-right:1em;
        color:$text-weak;
      }
      >.event-list-item-title {
        display: block;
        overflow: hidden;
      }
    }

    &.event-list-date {
      margin:1.5em 1em 0.5em 1em;
      font-size: 1.4em;
      font-weight: bold;
      color: $text-weak;
    }
  }
}

article {
  &.event {
    background-color: $item-bg-color;
    padding:20px 20px 20px 0;

    >.event-image {
      float: left;
      overflow: hidden;
      margin-left:20px;
      border: 1px solid #f9f9f9;

      >img {
        width:100%;
        max-width: 600px;
      }
    }
    >.event-info {
      overflow: hidden;
      padding-left:20px;
      min-width: 240px;

      >.event-description {
        font-size: 1.6em;
        margin: 20px 0;
      }
      >.event-price {
        font-size: 1.6em;
        font-weight: bold;
      }
    }

    .event-info-box {
      display: block;
      margin:20px 0;
      padding:10px;
      background-color: #f7f7f7;
      border:1px solid #CBCBCB;

      >.event-date {
        background: url("http://billetto.dk/assets/pages/event_show/b_i_ico_date.png") no-repeat scroll 0 0 transparent;
        font-size: 1.6em;
        height: 20px;
        margin: 5px 0 8px;
        padding-left: 22px;
      }
      >.event-address {
        background: url("http://billetto.dk/assets/pages/event_show/b_i_ico_addr.png") no-repeat scroll 0 -1px transparent;
        font-size: 1.3em;
        height: 20px;
        margin: 5px 0;
        padding-left: 22px;
      }
    }
  }
}

@media all and (orientation:portrait) {
}

@media all and (orientation:landscape) {
}


